[2015-11-23 21:28] ArkadiuszMichalski opened #3 "This recommendation should be definitely corected relative to the current specification of WHATWG"
Recently, there have been a few things repaired that further enhancing interoperability (like clean up DOMTokenList/DOMSettableTokenList, correct HTMLCollection.namedItem, EventTarget.removeEventListener, missing some aliases in Document and Attr) and others already closed: https://github.com/whatwg/dom/commits

Without that W3C version will only introduce unnecessary confusion, without coverage i

[2016-03-02 15:34] walroy opened #4 "Attr and NamedNodeMap in DOM4 are inconsistent"
The DOM4 specification dated 19 November 2015 (see https://www.w3.org/TR/dom/), in section 4.8, lists interfaces for Element and Attr.

The Element interface defines the attribute "[SameObject] readonly attribute NamedNodeMap attributes;
". Notice that this is of type NamedNodeMap. The DOM4 has no definition of NamedNodeMap interface. Neither is there any indication in the text where it is defined

[2016-03-31 21:06] DigiTec opened #5 "Make Attr a Node again (referencing whatwg/dom#102)"
In issue whatwg/dom#102 we are discussing the ramifications of making Attr not derive from Node and what APIs would need to be added to make this stable.

Here is 14 days of sampled profiler data which we are working on expanding:
![image](https://cloud.githubusercontent.com/assets/1650078/14190845/9d92c730-f749-11e5-811e-3866111b6999.png)

[2016-03-31 21:07] DigiTec commented on #5
@foolip Here is an initial start on the data collection for Attr.

The fact that we some very low counts tells me we need data from a longer period of time.

[2016-04-01 10:29] foolip commented on #5
That's awesome, @DigiTec!

Can these numbers be interpreted relative to something? Perhaps as a first approximation we could say that nodeValue is 23606=0.5% of page views in accordance with https://www.chromestatus.com/metrics/feature/timeline/popularity/348?

Of the things not already on Attr, it looks like the top ones are childNodes at 135, compareDocumentPosition at 104 and firstChild at 50.

[2016-04-06 16:14] ArkadiuszMichalski commented on #5
@DigiTec Any data for `Node.nodeName`? It was added to Attr due to high usage (https://github.com/whatwg/dom/issues/171).

[2016-04-06 17:54] DigiTec commented on #5
Adding more data for @foolip and thank you for drilling in and teasing out problems!

There were 125 million samples in this range, so all of the numbers can be scaled by that to determine usage. We don't have a session breakdown at this time unfortunately.
Attr had a little less than 30k of those samples

Attr itself is 0.00024% of all API usage.

Even the numbers in the 100's range are pretty mu

[2016-04-07 08:49] foolip commented on #5
Hmm, scaling by 125 million, `nodeValue` usage would be ~0.02%, which is quite far from the ~0.5% we see in https://www.chromestatus.com/metrics/feature/timeline/popularity/348

Some differences due to the different methodologies are of course expected, but that's off by a factor of ~25.

Have you used this type of data when making other changes, so that you already have an idea about a cut-off fo

[2016-04-07 17:28] DigiTec commented on #5
@foolip We have not used the methodology that produced this specific data to make a decision as hefty as what we are making. Off by a factor of 25 is not unreasonable. chromestatus is based on sessions. The longer the session the more likely a single instance of the API is to show up. Whereas with profiled data it isn't about sessions, but hits. If it turns out this API is mainly used as a feature

[2016-04-07 17:44] foolip commented on #5
@DigiTec Those are good points about session vs. simply counting hits. From your data the biggest risks seem to be childNodes at 135, compareDocumentPosition at 104 and firstChild at 50. Is it correct to say that you'd be comfortable attempting to align with the spec based on these numbers, or is there some change you think would make it safer and thus more likely to work out?

[2016-04-09 16:24] ArkadiuszMichalski commented on #5
What Edge does for `Attr.childNodes` and `Attr.firstChild`? This is from actual Firefox and Chrome:
[code]

[2016-04-28 09:30] mjgp2 opened #6 "Cannot tell what element owns an attribute"
There is no way to link an attribute (`Attr`[1]) back to the element it is owned by - this seems a gap in the spec, as, for example, if you return `Attr` objects from an xpath query they do not contain any context to their location in the DOM.

Indeed, the spec itself says:

However the IDL does not contain the "element" referenced in the description:

[code]

There seems to have been some thought

[2016-04-28 15:56] chaals opened #7 "Make DOMtokenlist toggle() work on multiple things?"
Moved from [bugzilla](https://www.w3.org/Bugs/Public/show_bug.cgi?id=23415)

[2016-04-30 15:14] ArkadiuszMichalski commented on #6
@mjgp2 You should not read this spec because it's old snapshot of https://dom.spec.whatwg.org/ and and contains a mass of gaps.

[2016-06-22 05:25] marcoscaceres commented on #3
Perhaps we should shut down the issue tracker for this repo and point people to file bugs at the WHATWG one. It will be really confusing if things get fixed in one but not the other. Then upstream changes can be merged into this one.

[2016-06-23 00:46] marcoscaceres commented on #3
@plehegar please consider this a formal request from the WICG. This is causing us issues now:
https://github.com/WICG/EventListenerOptions/issues/49

We need a plan for merging in upstream changes on a more regular interval.

[2016-06-23 19:24] plehegar commented on #3
I'm bringing this up to the attention of the Web Platform chairs and anyone else who is willing to help here. I certainly welcome ideas on how to move forward.

[2016-09-13 22:16] powerwaremediacore commented on #4
In DOM3 NamedNodeMap is a collection of Nodes. In DOM4 Attr interface in no longer a Node dependant. Then NamedNodeMap can't be used to hold Attr objects, because it is incompatible.

[2016-11-18 21:05] andreasplesch opened #8 "add changed value to mutation record"
https://www.w3.org/TR/dom/#interface-mutationrecord

A sequence of mutations observed and recorded by a mutation observer may involve the same attribute twice. Say a timer element is observed and suffers this sequence:

    timer.setAttribute('enabled', false);
    timer.setAttribute('cycleInterval', 10);
    timer.setAttribute('enabled', true);

The callback of the mutation observer then is invok

[2016-11-18 21:21] andreasplesch commented on #8
Since enhancement moved to https://github.com/whatwg/dom/issues/376

[2016-11-22 01:02] andreasplesch commented on #8
see https://github.com/whatwg/dom/issues/376#issuecomment-261721327 and response
for reference. Perhaps if there are more and widely applicable use cases there will be more consideration. My use case is very focused.

[2016-12-01 17:08] RobDolinMS opened #10 "W3C DOM Firing Events Section Missing JS Realm Security Assurances"
Comparing:

- http://www.w3.org/TR/domcore/#firing-events
- https://dom.spec.whatwg.org/#concept-event-fire

Per @marcoscaceres in https://github.com/w3c/manifest/issues/526:

[2016-12-14 12:14] kurli opened #11 "4.6 DocumentFragment description is not clear"
the description about template, shadow root is not clear.

[2016-12-14 12:42] kurli opened #12 "4.5 Document: the default document is XML when not flagged?"
As described in W3C spec:
[code]
As my investigation in different browsers Chrome & Safari, when not specified, the default is HTML.
And also in whatwg spec, the default is HTML.

[2016-12-23 22:48] RByers opened #13 "Add ShadowDOM support from WHATWG-DOM"
[Pointer Events](https://w3c.github.io/pointerevents/) needs to refer to the ShadowDOM support in the DOM spec (eg. the [composed property](https://dom.spec.whatwg.org/#dom-event-composed)) and so currently references WHATWG-DOM.

If W3C DOM is updated to match implementations (and kept up-to-date) on things like this, then we could reference DOM4 instead of WHATWG-DOM.  PEWG is [highly test-drive

[2016-12-24 09:32] yongsheng commented on #3
This is an all-in-one issue. we'll split these issues and address them one by one.

[2016-12-30 11:37] zqzhang opened #14 "Custom Elements in DOM"
If Custom Elements is implemented in a second browser, we need to determine how to integrate it into the DOM specification.

In the end, the DOM specification shall align with the HTML specification on this feature integration at https://github.com/w3c/html/issues/569.

WHATWG has made (up to Dec. 30, 2016) the following changes related to integrating Custom Elements:

- [ ] https://github.com/wha

[2016-12-31 15:20] wucongdonglai opened #15 "whatwg's commit list outside of DOM 4.1 Working Draft"
We are working on the DOM 4.1 Working Draft. We compared all the different commits between w3c/dom gh-pages branch and whatwg/dom master branch in this [compare link](https://github.com/w3c/dom/compare/gh-pages...whatwg:master) .
As the analysed result of all the commits, we'll take the following commits outside of the working draft, which means these commits won't be included in DOM 4.1 Working D

[2017-01-01 04:40] chaals commented on #13
Hi Rick,

It appears from the Pointer Events spec that what you use from Shadow DOM is the reference to the `composed` attribute. Is there anything else?

The tests for this are in the Shadow DOM repo, right? So if I understand correctly (which is far from certain) this is basically implemented in shipping webkit and blink, right?

How much of that should be included in the DOM spec directly, how

[2017-01-01 09:49] yongsheng commented on #13
Currently I see Shadow DOM is an independent draft. Need to check whether it should be released standalone or included in DOM spec. I'm neutral about this. @chaals do you know anything about shadow dom working team?

[2017-01-01 09:53] yongsheng commented on #15
thanks, @wucongdonglai .

[2017-01-01 15:09] hmin opened #16 "Shadow DOM support in DOM spec"
[Shadow DOM](https://www.w3.org/TR/shadow-dom/)[1] is still in the progress of being upstreamed to DOM standard and its relevant specifications. As stated by [WHATWG-DOM](https://dom.spec.whatwg.org/)[2], there are already many commits to add shadow DOM support in the specification. According to [MDN-Shadow DOM](https://developer.mozilla.org/en-US/docs/Web/Web_Components/Shadow_DOM)[3] informative

[2017-01-02 14:03] RByers opened #17 "EventTarget: Add EventListenerOptions / AddEventListenerOptions"
See design discussion in [WICG repo](https://github.com/WICG/EventListenerOptions/blob/gh-pages/README.md) and [existing spec text](https://dom.spec.whatwg.org/#dictdef-eventlisteneroptions).  Currently [implemented](http://caniuse.com/#feat=passive-event-listener) in WebKit, Blink and Gecko.

[2017-01-02 14:41] RByers commented on #13
Yeah it looks like that's all we reference explicitly.

Yes, and behind a flag in Gecko.  It looks like we have a test hole in WPT here - what I was remembering as WPT tests are actually only blink LayoutTests 😢, sorry.  I'll look into filling that separately.  In the meantime this should be the same as UI Events.  As long as we can point to some `composed` definition somewhere (doesn't matter to

[2017-01-03 04:15] yongsheng commented on #17
yes, we'll add it in DOM4.1.

[2017-01-03 05:37] yongsheng commented on #13
It seems there are no other implementations for shadow dom.
https://developer.mozilla.org/en-US/docs/Web/Web_Components/Shadow_DOM
Need a double check.

[2017-01-04 12:13] zqzhang commented on #10
These 2 commits are related:

- [ ] https://github.com/whatwg/dom/commit/5f39374 Use the relevant realm of the event target when firing an event
- [ ] https://github.com/whatwg/dom/commit/e19d7ee Redesign fire an event and target override

[2017-01-04 12:25] zqzhang opened #18 "Reinstate CDATASection?"
Not sure whether to reinstate CDATASection or not.

WHATWG has 3 commits related:

- [ ] https://github.com/whatwg/dom/commit/53fb89841b902242efdb0c6bb456543fdaa19462 Reinstate CDATASection
- [ ] https://github.com/whatwg/dom/commit/e8d5e65fd890ec0ba9299d7b63e911c3187275f9 CDATASection nodes don't like to be normalized away
- [ ] https://github.com/whatwg/dom/commit/67a7550d757b4194a8248b336944292

[2017-01-04 12:41] zqzhang opened #19 "Dispatching events: Integrate changes for invoking an object, etc."
Still not sure whether to integrate these related commits:

- [ ] https://github.com/whatwg/dom/commit/cb12fd4 Define special dispatch behavior for click events
- [ ] https://github.com/whatwg/dom/commit/82692b9 Editorial: rename activation-behavior-related algorithms
- [ ] https://github.com/whatwg/dom/commit/d8cb495 Clean up the event dispatch algorithms
- [ ] https://github.com/whatwg/dom/commi

[2017-01-04 13:00] zqzhang opened #20 "DOMTokenList: integrate changes against DOMTokenList"
- [ ] https://github.com/whatwg/dom/commit/ff4f0e8 remove feature detection from add() and add supports()
- [ ] https://github.com/whatwg/dom/commit/a97debc DOMTokenList's supports() takes a single token
- [ ] https://github.com/whatwg/dom/commit/b023e59 fix minor typo
- [ ] https://github.com/whatwg/dom/commit/6d3076e Make DOMTokenList's contains() not throw
- [ ] https://github.com/whatwg/dom/co

[2017-01-04 13:05] zqzhang opened #21 "Document.createAttribute(NS): add these 2 methods?"
- [ ] https://github.com/whatwg/dom/commit/522710bc4be13d2e1d826f94c54d1de9956ec920 Add createAttribute and createAttributeNS :-(
- [ ] https://github.com/whatwg/dom/commit/b525966512a7866d42ba6ab889db4c90b547231b make createAttribute() lowercase the input in HTML documents

[2017-01-04 13:07] zqzhang commented on #15
One more:

- [ ] https://github.com/whatwg/dom/commit/14e7c6e Address some xref issues

[2017-01-04 13:18] zqzhang commented on #17
Related changes against event listeners:

- [ ] https://github.com/whatwg/dom/commit/253a21b Add EventListenerOptions and passive event listener feature
- [ ] https://github.com/whatwg/dom/commit/1ff10ba Define that event listener capture
- [ ] https://github.com/whatwg/dom/commit/e002d78 Enable an event listener to be invoked just once
- [ ] https://github.com/whatwg/dom/commit/a13a3c7 Remove pas

[2017-01-05 05:40] TakayoshiKochi commented on #13
@yongsheng It looks like MDN docs are quite out of date and needs updates. Please don't refer MDN documents at this moment.

There is an independent [Shadow DOM spec](https://w3c.github.io/webcomponents/spec/shadow/), but it is  being upstreamed to WHATWG DOM spec and WHATWG HTML spec. So WHATWG one is more accurate and up to date, and W3C DOM spec lags behind.

[2017-01-05 07:35] yongsheng commented on #13
yes, it's outdated. I mean the implementation status of shadow dom. seems only chromium supports it. anyone who knows the impl status of firefox?

[2017-01-05 07:49] TakayoshiKochi commented on #13
I guess Mozilla people are working on implementation, but am not sure.
Chrome (Blink) and Safari (WebKit) implement Shadow DOM.

I'm not sure what is your concern here about implementation status, though.
Could you elaborate?

[2017-01-05 09:51] yongsheng commented on #4
We'll make Attr inherits from Interface Node in 4.1. Any comments?

[2017-01-05 10:42] yongsheng commented on #6
since firefox and chrome both have this property, I'll bring it back in 4.1.

[2017-01-06 14:44] linzhiping opened #22 "[CEReactions]: Integrate changes against IDL extended attribute"
- [ ] https://github.com/whatwg/dom/commit/3cd02d1 Add [CEReactions] annotations to mutating methods
- [ ] https://github.com/whatwg/dom/commit/189d879 insertAdjacentText() does not need [CEReactions]
- [ ] https://github.com/whatwg/dom/commit/bf1c902 Mark Element's slot IDL attribute [Unscopable]
Include other changes related to CEReactions.

[2017-01-07 02:36] yongsheng opened #23 "Mutation algorithms: restore next siblings for removing a node"
- [ ] https://github.com/whatwg/dom/commit/9202ada Close #122: fix mutation record for a removing a node

[2017-01-07 02:48] yongsheng opened #24 "Qualified Name: improve qualified name description"
- [ ] https://github.com/whatwg/dom/commit/e5b0aaf Use qualifiedName rather than name
- [ ] https://github.com/whatwg/dom/commit/aaa22ab Fix #110: turn attribute's name slot into a qualified name "concept"
- [ ] https://github.com/whatwg/dom/commit/7333798 Centralize validation/extraction of namespace/qualifiedName

[2017-01-07 02:56] yongsheng opened #25 "Mutation Algorithms: mistakes in replacing a node"
- [ ] https://github.com/whatwg/dom/commit/f2b2a22 Close #128: fix a typo in the replace a node algorithm
- [ ] https://github.com/whatwg/dom/commit/cfaf3fa Fix #129: error in replace algorithm
- [ ] https://github.com/whatwg/dom/commit/9c26c6d Close #138: fix a typo in the replace algorithm
- [ ] https://github.com/whatwg/dom/commit/1b9e2f9 Need to grab children of a DocumentFragment before an in

[2017-01-07 03:12] yongsheng opened #26 "Mutation Algorithms: add one condition for pre-insertion validity"
- [ ] https://github.com/whatwg/dom/commit/1754b39 Fix #127: preceding operates on nodes only

[2017-01-07 03:22] yongsheng opened #27 "baseURI/documentURI: URI is not null and related changes."
- [ ] https://github.com/whatwg/dom/commit/f69832f Fix #131: baseURI is not nullable
- [ ] https://github.com/whatwg/dom/commit/b4664d6 Fix #118: clarify documentURI
- [ ] https://github.com/whatwg/dom/commit/1bb85a4 Use USVString for URLs and origins in IDL
- [ ] https://github.com/whatwg/dom/commit/60fac51 Use HTML's "document base URL" concept

[2017-01-07 03:25] yongsheng opened #28 "NamedNodeMap: remove duplicates and omit low-case property names"
- [ ] https://github.com/whatwg/dom/commit/5dbefd1 Fix #141: NamedNodeMap's supported property names should not contain
- [ ]  https://github.com/whatwg/dom/commit/8898ac5 Fix #141 (again): omit non-lowercase property names from NamedNodeMap…  …
- [ ] https://github.com/whatwg/dom/commit/8af4826 Introduce NamedNodeMap for attributes. Clean up algorithms around attributes

[2017-01-07 03:40] yongsheng opened #29 "Document's Adopting Node: refine the description of adopting a node"
- [ ] https://github.com/whatwg/dom/commit/bb69d0b Fix #146: only run adopting steps when changing documents  …
- [ ] https://github.com/whatwg/dom/commit/026a772 Pass the old and new document to adoptedCallback  …
- [ ]  https://github.com/whatwg/dom/commit/5697cf4 Close #66: run the adopting steps recursively  …
- [ ] https://github.com/whatwg/dom/commit/718ba4a Make two loops to adopt a node  …

[2017-01-07 03:42] yongsheng opened #30 "Encoding: use the standard encoding text and reference the encoding spec."
- [ ] https://github.com/whatwg/dom/commit/2bf4e62 Let the Encoding Standard deal with the canonical name
- [ ] https://github.com/whatwg/dom/commit/6941936 Add Document.prototype.charset as legacy alias of characterSet

[2017-01-07 05:55] linzhiping opened #31 "Mutation observers: refine the notification steps and clarify "Transient registered observers""
- [ ] https://github.com/whatwg/dom/commit/d4ca217 Do not let mutation observer callbacks influence the used signal slot
- [x] https://github.com/whatwg/dom/commit/e57a716 Add a note explaining transient observers.

[2017-01-07 06:10] kurli opened #32 "Events: Need explain events cannot cause actions, just notification"
- [ ] https://github.com/whatwg/dom/commit/24ab873 Explain in many different ways that events cannot cause actions.

[2017-01-07 06:22] kurli opened #33 "Range: Use "is" for comparisons, Leave "equals" for isEqualNode()"
- [ ] https://github.com/whatwg/dom/commit/7936feb Use is for comparisons. Leave equals for isEqualNode()

[2017-01-07 07:08] kurli opened #34 "Document: Add charset in document for historical"
- [ ] https://github.com/whatwg/dom/commit/6941936 Add Document.prototype.charset as legacy alias of characterSet

[2017-01-07 07:14] yongsheng opened #35 "Attr.nodeName: set it alias as .name"
- [ ] https://github.com/whatwg/dom/commit/90427aa Fix #171: Add Attr#nodeName as an alias for name
- [ ] https://github.com/whatwg/dom/commit/623ae75 Fix typo nameName → nodeName

[2017-01-07 07:22] linzhiping opened #36 "Terminology(Infrastructure): add new section "Selectors" to Terminology"
- [ ] https://github.com/whatwg/dom/commit/1594aa5 Align with changes in Selectors
- [ ] https://github.com/whatwg/dom/commit/dc355c6 Group common selectors algorithms in order to add a note that namespace are not supported and not planned.

[2017-01-07 07:35] linzhiping opened #37 "Interface Element: refine the description of element creation."
- [ ] https://github.com/whatwg/dom/commit/6b1b1da Mark more elements in browsing-context-less documents as "undefined"
- [ ] https://github.com/whatwg/dom/commit/eb28710 Change createElement to report exceptions instead of rethrowing

[2017-01-07 07:41] yongsheng commented on #5
Below is the change in whatwg dom:
- [ ] https://github.com/whatwg/dom/commit/f64b0c8 Put Attr.prototype.ownerElement back; give Attr.prototype.value a setter and an alias named textContent

[2017-01-07 08:08] yongsheng opened #38 "IDL attribute: refine its reflect and getter&setter"
- [ ] https://github.com/whatwg/dom/commit/75303c5 Fix reflect and its callers

[2017-01-07 08:13] yongsheng opened #39 "Mutation algorithms: improve 'insert a node'"
- [ ] https://github.com/whatwg/dom/commit/baf4e6e Only pass oldParent to removing steps for the node actually removed
- [ ] https://github.com/whatwg/dom/commit/bc31c18 Always queue mutation records after said mutations. Fixes #60.

[2017-01-07 08:20] yongsheng opened #40 "Node's attributes: declare its attributes accurately with context object."
- [ ] https://github.com/whatwg/dom/commit/3cbbe89 Cleanup tree accessors on Node

[2017-01-07 08:24] yongsheng opened #41 "Element's new methods: insertAdjacentElement & insertAdjacentText"
- [ ] https://github.com/whatwg/dom/commit/8fa7ac7 Add insertAdjacentElement() and insertAdjacentText()
- [ ] https://github.com/whatwg/dom/commit/5790d72 Define remainder of insertAdjacentElement()

[2017-01-07 08:30] yongsheng opened #42 "Queuing a mutation record: Reword queue a mutation record to avoid "continue""
- [ ] https://github.com/whatwg/dom/commit/d3653ac Reword queue a mutation record to avoid "continue"

[2017-01-07 08:33] yongsheng opened #43 "Clone a"
- [ ] https://github.com/whatwg/dom/commit/6c4bf92 Editorial: clone a range → clone the contents of a range

[2017-01-07 08:33] yongsheng opened #44 "Range: clone a range → clone the contents of a range"
- [ ] https://github.com/whatwg/dom/commit/6c4bf92 Editorial: clone a range → clone the contents of a range

[2017-01-07 08:56] yongsheng opened #45 "Document.origin: keep alignment with HTML's origin."
- [ ] https://github.com/whatwg/dom/commit/20b3f3e Align with origin changes in HTML

[2017-01-07 09:00] yongsheng opened #46 "Document mode: about:blank also results in quirks"
- [ ] https://github.com/whatwg/dom/commit/42f01fb Mention that initial about:blank also results in quirks

[2017-01-07 09:06] yongsheng opened #47 "HTMLCollection: refine the description and etc."
- [ ] https://github.com/whatwg/dom/commit/a2a48a2 Editorial: be a little clearer on HTMLCollection
- [ ] https://github.com/whatwg/dom/commit/eda3dcd Fix #104: the name attribute can only appear on HTML elements

[2017-01-07 09:07] yongsheng opened #48 "Exception cleanup: consistency with IDL"
- [ ] https://github.com/whatwg/dom/commit/e4b93c8 Editorial: align exception language with IDL

[2017-01-07 09:13] yongsheng opened #49 "Element(CustomElement): changes to 'to create an element'"
- [ ] https://github.com/whatwg/dom/commit/01145a5 Editorial: swap `prefix, localName` arguments of create an element
- [ ] https://github.com/whatwg/dom/commit/c8ae9cb Change createElement() namespace to match implementations  …
- [ ] https://github.com/whatwg/dom/commit/4b291d1 Use a single concept for attribute changes  …
- [ ] https://github.com/whatwg/dom/commit/fb1c986 createElement() cannot

[2017-01-07 09:19] yongsheng opened #50 "Document.createEvent: changes to createEvent"
- [ ] https://github.com/whatwg/dom/commit/9e3ce67 Add more legacy event types for createEvent()  …
- [ ] https://github.com/whatwg/dom/commit/cb7c16b Make document.createEvent("touchevent") sometimes throw  …
- [ ] https://github.com/whatwg/dom/commit/e728c11 Editorial: provide a shorthand for other specifications to create events  …

[2017-01-07 09:20] yongsheng opened #51 "NonElementParentNode: web compatibility typically remains relevant"
- [ ] https://github.com/whatwg/dom/commit/346e32c Editorial: web compatibility typically remains relevant  …

[2017-01-07 09:24] yongsheng opened #52 "ParentNode: refine its behaviors."
- [x] https://github.com/whatwg/dom/commit/36ef32e Define node document for new Text nodes
- [ ] https://github.com/whatwg/dom/commit/e3af90b Editorial: even more cleanup around <dfn>
- [ ]  https://github.com/whatwg/dom/commit/c7e9ff3 Editorial: use <code> in the historical section
- [ ] https://github.com/whatwg/dom/commit/2ace8fa Rename the mutation method macro and handle passing in zero nodes

[2017-01-07 09:25] yongsheng opened #53 "SVGEvents: use SVGEvents instead of SVGEvent"
- [ ] https://github.com/whatwg/dom/commit/a9d2a37 SVGEvent is only Gecko, Blink also has SVGEvents

[2017-01-07 09:26] yongsheng opened #54 "SVG namespace: add it"
- [ ] https://github.com/whatwg/dom/commit/537e579 Set createDocument()'s content type based on namespace

[2017-01-09 01:46] yongsheng opened #55 "Goals: fix typo 'ake' -> 'make'"
By moving features from the HTML Standard [HTML] that ake more sense to be specified as part of the DOM Standard.

[2017-01-09 07:00] yongsheng commented on #43
close it since it's a duplicate of #44.

[2017-01-09 07:00] #43 closed

[2017-01-09 12:01] linzhiping opened #56 "Interface Document: document type and mode related."
- [ ] https://github.com/whatwg/dom/commit/8f812e6 Make type and mode explicit concepts of documents.
- [ ] https://github.com/whatwg/dom/commit/42f01fb Mention that initial about:blank also results in quirks

[2017-01-09 12:09] linzhiping opened #57 "Editorial: remove reference to XMLDocument.prototype.load"
- [ ] https://github.com/whatwg/dom/commit/1595762 Editorial: remove reference to XMLDocument.prototype.load

[2017-01-09 12:23] linzhiping opened #58 "Interface Node: Make Attr inherit from Node again"
- [ ] https://github.com/whatwg/dom/commit/625a074 Make Attr inherit from Node again
- [ ] https://github.com/whatwg/dom/commit/f64b0c8 Put Attr.prototype.ownerElement back; give Attr.prototype.value a setter and an alias named textContent

[2017-01-09 12:30] linzhiping opened #59 "Editorial: clean up namespace and contains() algorithm"
- [ ] https://github.com/whatwg/dom/commit/0c705e8 Editorial: clean up namespace and contains() algorithm

[2017-01-09 12:31] linzhiping opened #60 "Editorial: add <code> to mutation methods"
- [ ] https://github.com/whatwg/dom/commit/789f885 Editorial: add <code> to mutation methods

[2017-01-09 12:53] wucongdonglai opened #61 "Move DOMException into IDL and remove DOMError"
- [ ] https://github.com/whatwg/dom/commit/3287ee4 Improve warnings in Errors section.
- [ ] https://github.com/whatwg/dom/commit/7fe5736 DOMException is in IDL. DOMError removed

[2017-01-09 13:09] wucongdonglai opened #62 "HTMLCollection：Call out descendants for getElementsBy* in general"
- [ ] https://github.com/whatwg/dom/commit/c3b4419 Call out descendants for getElementsBy* in general

[2017-01-09 13:15] wucongdonglai opened #63 "More Bikeshed churn"
- [ ] https://github.com/whatwg/dom/commit/fd99485 More Bikeshed churn. Fixes cherrypicked from #26

[2017-01-09 13:29] wucongdonglai opened #64 "ChildNode: add replaceWith/after/before methods for ChildNode."
- [ ] https://github.com/whatwg/dom/commit/b7563aa Rename replace() to replaceWith()
- [ ] https://github.com/whatwg/dom/commit/4c0fb2a Add a note to clarify replaceWith(). Fixes #48.
- [ ] https://github.com/whatwg/dom/commit/30ab74 Make after/before/replaceWith work when the context object is passed as argument.

[2017-01-09 13:34] wucongdonglai opened #65 "ChildNode:Make after/before/replaceWith work when the context object is passed as argument"
- [ ] https://github.com/whatwg/dom/commit/4c44562 Make after/before/replaceWith work when the context object is passed as argument.

[2017-01-09 13:40] wucongdonglai opened #66 "getElementsByTagName: make cache of getElementsByTagName more conditional"
- [ ] https://github.com/whatwg/dom/commit/4c44562 make cache of getElementsByTagName more conditional
- [ ] https://github.com/whatwg/dom/commit/10c9c14 better: only branch on type to allow more caching

[2017-01-10 06:56] jinhoward opened #67 "Range:Ban insertNode() of Range's start node"
- [ ] https://github.com/whatwg/dom/commit/abad55d Ban insertNode() of Range's start node

[2017-01-10 07:10] jinhoward opened #68 "Element: make setAttribute() definition shorter through inlining"
- [ ] https://github.com/whatwg/dom/commit/6287779  make setAttribute() definition shorter through inlining

[2017-01-10 07:35] jinhoward opened #69 "Element & Document:add webkitMatchesSelector() in Element and rename legacy alias to historical alias in Document"
- [ ] https://github.com/whatwg/dom/commit/9ac9c15 Add webkitMatchesSelector() and rename legacy alias to historical alias to remain consistent with other historical annotations.

[2017-01-10 07:57] jinhoward opened #70 "Element:alias setAttributeNode to setAttributeNodeNS and setNamedIem to setNamedItemNS"
- [ ] https://github.com/whatwg/dom/commit/a0042ff  alias setAttributeNode to setAttributeNodeNS and setNamedIem to setNamedItemNS

[2017-01-10 08:06] kurli opened #71 "Node: Clone node should regarding attributes"
- [ ] https://github.com/whatwg/dom/commit/39e6a33 Make cloning more explicit regarding attributes
- [ ] https://github.com/whatwg/dom/commit/1d24476 Define copying attributes

[2017-01-10 08:44] yongsheng commented on #46
it's tracked in #56 . close this.

[2017-01-10 08:44] #46 closed

[2017-01-10 08:58] linzhiping commented on #58
There are already 2 issues about Attr Node, for reference:
https://github.com/w3c/dom/issues/4
https://github.com/w3c/dom/issues/5

[2017-01-10 11:43] zqzhang opened #72 "Editorial: use more <code> in traversal section"
- [ ] https://github.com/whatwg/dom/commit/0dd790f

[2017-01-10 11:46] zqzhang opened #73 "Editorial: define more in terms of the length concept"
- [ ] https://github.com/whatwg/dom/commit/74ebe9f Editorial: define more in terms of the length concept

[2017-01-10 11:47] zqzhang opened #74 "Define document's origin slot in DOM rather than HTML"
- [ ] https://github.com/whatwg/dom/commit/e4b7778

[2017-01-10 11:53] zqzhang opened #76 "Editorial: make sure cross references are correct"
- [ ] https://github.com/whatwg/dom/commit/ec8e1d3 Editorial: rely more on Shepherd for cross-references
- [ ] https://github.com/whatwg/dom/commit/26eb16d Editorial: minor references cleanup

Shall check all cross references. Refine kinds of reference errors.

[2017-01-10 11:56] zqzhang commented on #5
Also consider this change:

- [ ] https://github.com/whatwg/dom/commit/0e17e05 Further Attr node fixes for compareDocumentPosition()

[2017-01-10 11:58] zqzhang opened #77 "Node: ATTRIBUTE_NODE and SHOW_ATTRIBUTE are no longer historical"
- [ ] https://github.com/whatwg/dom/commit/dc3990d
- [ ] https://github.com/whatwg/dom/commit/625a074 Make Attr inherit from Node again
- [ ] https://github.com/whatwg/dom/commit/f64b0c8 Put Attr.prototype.ownerElement back; give Attr.prototype.value a setter and an alias named textContent

[2017-01-10 12:00] zqzhang opened #78 "Event: Clarify isTrusted"
- [ ] https://github.com/whatwg/dom/commit/7958b25 Clarify isTrusted

[2017-01-10 12:06] zqzhang opened #79 "Element: closest() and matches()"
- [ ] https://github.com/whatwg/dom/commit/fd69cc7 Add Element.prototype.closest(selectors)
- [ ] https://github.com/whatwg/dom/commit/5ff8f79 Define :scope element for closest() and matches()
- [ ] https://github.com/whatwg/dom/commit/9ac9c15 Add webkitMatchesSelector() and rename legacy alias to historical alias to remain consistent with other historical annotations.

[2017-01-10 12:35] wucongdonglai opened #80 "NodeIterator:Fix NodeIterator removing step"
- [ ] https://github.com/whatwg/dom/commit/c97daed Fix NodeIterator removing step
- [ ] https://github.com/whatwg/dom/commit/248d4fe Fix NodeIterator removing step. Closes #27

[2017-01-10 12:38] wucongdonglai opened #81 "NodeIterator:NodeIterator reacting to mutations needs to be a privileged hook"
- [ ] https://github.com/whatwg/dom/commit/259775f NodeIterator reacting to mutations needs to be a privileged hook

[2017-01-10 12:47] wucongdonglai opened #82 "Mutation algorithms:Replacing a child within parent had the wrong previousSibling in its mutation record"
- [x] https://github.com/whatwg/dom/commit/d9fbd12 Replacing a child within parent had the wrong previousSibling in its mutation record Fixes #59
- [x] https://github.com/whatwg/dom/commit/5aecfd4 Since node can be child, record the previous sibling before adopting Fixes #59 (again).

[2017-01-10 12:50] wucongdonglai opened #83 "Node: Cleanup nodeType algorithm a bit."
- [ ] https://github.com/whatwg/dom/commit/b5bc2f7  Cleanup nodeType algorithm a bit.

[2017-01-10 12:54] wucongdonglai opened #84 "Goals and Infrastructure: Lots of typo and grammar corrections thanks to timeless!"
- [ ] https://github.com/whatwg/dom/commit/abd00ec Lots of typo and grammar corrections thanks to timeless!

[2017-01-10 12:57] wucongdonglai opened #85 "TreeWalker: Remove unnecessary conditions from the 'traverse children' algorithm"
- [ ] https://github.com/whatwg/dom/commit/81b89db Remove unnecessary conditions from the 'traverse children' algorithm

[2017-01-10 12:59] wucongdonglai opened #86 "Nits from timeless"
- [ ] https://github.com/whatwg/dom/commit/e90ae28 Nits from timeless. See https://lists.w3.org/Archives/Public/www-dom/2015AprJun/0073.html for details.

[2017-01-10 13:01] wucongdonglai opened #87 "Constructing events:A dictionary member is present, not defined."
- [ ] https://github.com/whatwg/dom/commit/12887d3 A dictionary member is present, not defined.

[2017-01-10 13:03] wucongdonglai opened #88 "Tree: Define "inclusive sibling" for Selectors"
- [ ] https://github.com/whatwg/dom/commit/35ecd1f Define "inclusive sibling" for Selectors. Fixes #55.

[2017-01-10 13:05] wucongdonglai opened #89 "Document:Tie base URLs to documents. Obsoletes xml:base."
- [ ] https://github.com/whatwg/dom/commit/8ca4959 Tie base URLs to documents. Obsoletes xml:base. Fixes https://www.w3.org/Bugs/Public/show_bug.cgi?id=20976

[2017-01-13 06:17] yongsheng commented on #55
this issues was fixed by xiaoqian.

[2017-01-13 06:17] #55 closed

[2017-01-17 05:49] yongsheng opened #90 "Bikeshed : all-in-one tracking"
All changes related to bikeshed format will be tracked in this issue.

[2017-01-17 07:20] chaals opened #91 "Publish First Public WD for "4.1""
This is a call for consensus to publish the First Public Working Draft of a revision of DOM 4, currently available as https://w3c.github.io/dom/ (which will be stable in terms of substantive  as DOM 4.1

Please use thumbs up on this comment to agree, or a comment on this issue with rationale to disagree, before the end of Monday 23 January.

[2017-01-17 16:42] bedney commented on #6
This is critical to the way some of our functionality works. Whether or not the Attr API got completely redone, and is no longer a Node or whatever, the fact that I can have a handle to an Attr 'object' and ask it 'what Element owns you?' is the salient part. Please restore this.

[2017-01-18 00:56] yongsheng commented on #6
There will be 7 milestones , see below. Actually the first working draft doesn't have so many changes except bs format and one typo fix. will fix all problems in the following milestones.
1.15 C 1st working draft
2.26 C 2nd round
4.9 C 3rd round
5.21 C 4th round
6.31 C 5th round
7.30 - DOM 4.1 working draft, finalization

[2017-01-18 03:09] bedney commented on #6
Ah, ok - I was unaware of this schedule. Thank you very much!

[2017-01-18 03:52] yongsheng opened #92 "Sets: changes the typo"
"if one if the arguments" -> "if one of the arguments".
From Kirill.

[2017-01-18 03:55] yongsheng commented on #23
There is a typo reported by Kirill. dot is missed:
"Let oldPreviousSibling be node's previous sibling" -> "Let oldPreviousSibling be node's previous sibling."

[2017-01-18 05:11] yongsheng opened #93 "HTMLCollection: drop unenumable for 'supported property names'"
"Below is description 'all unenumerable' should be removed since it's gone in webidl.
The supported property names, all unenumerable, are the values from the list returned by these steps.
"
Reported from Kirill.

[2017-01-18 10:58] yongsheng commented on #82
Missing one commit:
- [ ] https://github.com/whatwg/dom/commit/c20e4b5 Do not remove child from its parent when replacing a node by itself

[2017-01-18 11:02] yongsheng commented on #70
Another issue addressing 'replace an attr' in Element:
- [ ] https://github.com/whatwg/dom/commit/f8089df Fix the set an attribute algorithm

[2017-01-18 11:12] yongsheng commented on #31
- [ ] https://github.com/whatwg/dom/commit/f2427d8 Clarify initial state of "mutation observer compound microtask queued…
Better to split this fix into two commits since there are 2 different things. another is for 'MutationRecord'.

[2017-01-18 11:22] yongsheng opened #94 "Serviceworker: align with the latest serviceworker spec?"
Not sure it should be included in 4.1. Welcome your comments.
- [ ] https://github.com/whatwg/dom/commit/5666670 Close #155: change addEventListener()/removeEventListener() for service workers.

[2017-01-18 11:27] yongsheng commented on #19
- [ ] https://github.com/whatwg/dom/commit/26f7947 Fix #169: do not invoke target while iterating eventPath

[2017-01-18 11:45] yongsheng commented on #21
Miss one fix:
- [ ] https://github.com/whatwg/dom/commit/b525966 Fix #41: make createAttribute() lowercase the input in HTML documents

[2017-01-18 11:47] yongsheng commented on #21
Need to confirm whether to add it based on user agents' implementation.

[2017-01-18 12:00] yongsheng commented on #19
I think most of them should be fixed in DOM4.1.

[2017-01-18 12:04] yongsheng commented on #17
02710dd not sure to be fixed in DOM 4.1, any idea?

[2017-01-23 02:11] siusin commented on #92
fix by commit [e3d54cd](https://github.com/w3c/dom/commit/e3d54cd79b22328572736eaeac213362dd4babff)

[2017-01-23 02:11] #92 closed

[2017-01-27 13:34] chaals commented on #91
This represents a (quiet) consensus on this procedural step. The resolution passes.

[2017-01-27 13:34] #91 closed

[2017-02-08 03:49] yongsheng commented on #38
@hmin

[2017-02-11 09:14] yongsheng commented on #28
NamedNodeMap supports  'supported property indices' and ' supported property names' in both firefox and chrome. I think we should add it in 4.1.

[2017-02-11 09:16] yongsheng commented on #16
All, any comments about this?

[2017-02-11 09:52] chaals commented on #16
Let's have *one* of this and #13 open since they are duplicates.

It looks like Webkit is implementing, but we need to check what actually gets implemented.

[2017-02-12 07:11] linzhiping commented on #31
https://github.com/whatwg/dom/commit/d4ca217
Signal slot is introduced by shadow dom? It will be ignored if so.

[2017-02-12 12:54] wucongdonglai commented on #58
please take care of https://github.com/whatwg/dom/commit/2b76ab8

[2017-02-12 13:12] wucongdonglai opened #95 "Node&Element: add hasAttributes() back."
- [x] https://github.com/whatwg/dom/commit/d0ff369 Put hasAttributes() back.
- [ ] https://github.com/whatwg/dom/commit/e937204 Clarify that some members were moved rather than removed

[2017-02-12 13:14] wucongdonglai opened #96 "Element: add get/setAttributeNode[NS]"
- [ ] https://github.com/whatwg/dom/commit/5a881d9 Define getAttributeNode[NS] and removeAttributeNode
- [ ] https://github.com/whatwg/dom/commit/12d0114 Define Element.prototype.setAttributeNode[NS], removeAttributeNode, NamedNodeMap.prototype.setNamedItem[NS]

[2017-02-13 11:45] yongsheng commented on #29
This fix depends on #4, #5, #58.

[2017-02-14 08:08] yongsheng commented on #58
tried in chrome and firefox, below 2 statements return 'true':
document.children[0].attributes[0] instanceof Node
document.children[0].attributes[0] instanceof Attr

[2017-02-14 10:26] yongsheng commented on #34
fixed in #30

[2017-02-14 10:30] yongsheng commented on #58
@linzhiping maybe I can fix this issue since #29 depends on it?

[2017-02-17 06:12] #34 closed

[2017-02-17 06:13] kurli commented on #33
fixed

[2017-02-17 06:13] #33 closed

[2017-02-17 06:13] kurli commented on #65
Please remove Fixes

[2017-02-17 06:16] #24 closed

[2017-02-17 06:17] #30 closed

[2017-02-17 06:17] #27 closed

[2017-02-17 06:17] #35 closed

[2017-02-17 06:17] #93 closed

[2017-02-17 06:18] #78 closed

[2017-02-17 06:18] #47 closed

[2017-02-17 06:22] yongsheng opened #108 "Fix acknowledgements"
several typos

[2017-02-17 06:29] #83 closed

[2017-02-17 06:37] linzhiping commented on #31
Fixed in patch: https://github.com/w3c/dom/commit/26e6a3b
Paste here, since a typo in commit message caused no auto generated commit link.

[2017-02-17 06:37] #31 closed

[2017-02-20 01:07] yongsheng commented on #108
it's fixed.

[2017-02-20 01:07] #108 closed

[2017-02-22 08:47] yongsheng commented on #58
@wucongdonglai Attr.nodeValue is deprecated. see https://dom.spec.whatwg.org/#interface-attr.

[2017-02-22 09:57] yongsheng commented on #44
I'm working on it.

[2017-02-24 10:03] yongsheng commented on #25
related to #82 .

[2017-02-24 10:05] yongsheng commented on #82
close this issue since it's realted to #25. will change it there.

[2017-02-27 11:32] yongsheng commented on #39
The above fix is not fully done. I'll take it.

[2017-02-27 11:34] yongsheng commented on #23
- [ ] https://github.com/whatwg/dom/commit/bc31c18 Always queue mutation records after said mutations. Fixes #60.

[2017-03-02 01:59] wucongdonglai commented on #90
#63 also should be fixed here

[2017-03-02 03:06] yongsheng commented on #58
related to #77

[2017-03-02 06:57] yongsheng commented on #77
it'll be done in M3.

[2017-03-04 13:17] yongsheng opened #112 "Node's 'to clone a node': improve the description 'create an element' & append link error"

[2017-03-05 13:26] yongsheng commented on #42
I'll fix it in M3.

[2017-03-06 06:46] yongsheng commented on #8
yes, I also think it could work by using 'oldValue'.

[2017-03-06 06:48] yongsheng commented on #6
This fix will be included in the 3rd round version.

[2017-03-06 11:41] yongsheng commented on #40
I'm working on it.

[2017-03-07 01:14] wucongdonglai commented on #50
please fix #87 together，which is also about createEvent

[2017-03-07 01:16] wucongdonglai commented on #50
- [ ] https://github.com/whatwg/dom/commit/12887d3 A dictionary member is present, not defined.

[2017-03-07 12:41] chaals opened #113 "Publish FWPD?"
This is a call for consensus to publish [the proposed FPWD draft of DOM 4.1](https://www.w3.org/TR/2017/WD-dom41-20170314/) as a W3C First Public Working Draft. The [changes section](https://www.w3.org/TR/2017/WD-dom41-20170314/#historical-changes-fpwd-dom4) lists major changes between this draft and the DOM 4 Recommendation

Please add a thumbs-up / thumbs-down or a comment to this issue to expre

[2017-03-11 09:32] zqzhang commented on #72
This shall be fixed some time before because all the code changes at https://github.com/whatwg/dom/commit/0dd790f have been added `<code>` and `</code>`.

[2017-03-11 09:32] #72 closed

[2017-03-13 07:20] yongsheng commented on #17
I'll take it and fix it.

[2017-03-14 11:25] yongsheng commented on #14
HTML5.1 doesn't include changes related to custom element.  I don't think it should be fixed in DOM 4.1.https://www.w3.org/TR/html51/index.html#contents

[2017-03-14 11:26] yongsheng commented on #6
It'll be fixed together with #77

[2017-03-14 13:07] chaals commented on #14
Yeah, my current expectation is that it won't be included in HTML 5.2, but probably will in HTML 5.3.

So it is probably worth thinking about what it would involve…

[2017-03-15 06:04] yongsheng commented on #71
This is fixed by the patch for #112 .

[2017-03-16 16:17] wucongdonglai commented on #62
already picked.
commit d082e1c422650f1856c73019352b0bc2cef4d15b
Author: Anne van Kesteren <annevk@annevk.nl>
Date:   Sat Nov 22 12:43:54 2014 +0100

    Call out descendants for getElementsBy* in general

    (cherry picked from commit c3b441965c013427b3936014205a5149c9971837)

    Conflicts:
        Overview.src.html
        dom-core.html

[2017-03-16 16:17] #62 closed

[2017-03-18 09:18] yongsheng commented on #68
This issue has been fixed together with #24.

[2017-03-18 09:18] #68 closed

[2017-03-18 09:18] yongsheng commented on #112
.- [ ] https://github.com/whatwg/dom/commit/39e6a33 Make cloning more explicit regarding attributes
- [ ] https://github.com/whatwg/dom/commit/1d24476 Define copying attributes

[2017-03-23 00:50] yongsheng opened #116 "Document.createEvent: touchevent and editorial"
- [ ] https://github.com/whatwg/dom/commit/cb7c16b Make document.createEvent("touchevent") sometimes throw  …

[2017-03-24 11:36] yongsheng commented on #70
depends on #96

[2017-03-25 09:28] yongsheng commented on #10
dependency on  #17 .

[2017-03-25 09:29] yongsheng commented on #70
wucongdonglai will take it.

[2017-03-25 09:34] yongsheng commented on #19
This issues depends on #17 . Need to fix them together. I'll take it.

[2017-03-25 09:38] yongsheng commented on #87
This could be fixed together with #17.

[2017-03-25 09:42] yongsheng commented on #22
cereactions is for custom element and won't be introduced until custom element is supported.

[2017-03-25 21:54] zqzhang commented on #19
OK, thanks, @yongsheng

[2017-03-27 13:38] zqzhang commented on #74
`document.origin` is only supported by Chrome. It hasn't been supported by Firefox, IE, Safari or Opera.

So I don't think we shall define it in DOM 4.1 at current being.

What do you think? @yongsheng

[2017-03-27 13:40] zqzhang commented on #74
See also https://developer.mozilla.org/en-US/docs/Web/API/Document/origin

[2017-03-28 10:58] zqzhang commented on #45
Seems this shall be out of DOM 4.1 as #74.

[2017-03-28 14:19] zqzhang commented on #45
I will take care of this together with #74.

[2017-04-03 03:00] yongsheng commented on #10
'fire an event' is used for shadow dom. so leave it until shadow dom is fixed.

[2017-04-03 03:03] hmin commented on #48
Trivial changes for exception cleanup. I am working on it

[2017-04-03 03:25] wucongdonglai commented on #88
As there is no use in spec, We don't need to add this patch.

[2017-04-03 03:25] #88 closed

[2017-04-03 03:29] hmin commented on #53
I am working this.

[2017-04-03 22:22] chaals commented on #113
Consensus declared, specification [published](https://www.w3.org/TR/2017/WD-dom41-20170321/)

[2017-04-03 22:22] #113 closed

[2017-04-04 13:15] wucongdonglai commented on #80
dependent on #81

[2017-04-04 13:16] #80 closed

[2017-04-05 12:04] ayg opened #117 "<span class="a b c">.classList.replace("c", "a") -> "a b" or "b a"?"
The spec just says "Replace token in tokens with newToken", but this doesn't actually work in an ordered set, because if you actually replaced it as instructed, the set would have a duplicate entry.  Test-case:

[code]

Firefox Aurora says "a b".  Chrome doesn't seem to support .replace().  I don't have Edge or WebKit handy yet to test.

[2017-04-05 13:04] ayg opened #118 "DOMTokenList.add/remove normalize dupes/whitespace even if they're no-ops, but .toggle doesn't"
Per the current spec, this outputs "a b c c d d":

[code]

This is not consistent.  If we want add/remove to normalize even if they're no-ops, so should toggle.  This is especially true because force-toggle is otherwise precisely identical AFAICT, and the slight difference is confusing.

replace also doesn't normalize if the token doesn't exist, but that doesn't bother me as much since it doesn't

[2017-04-06 19:03] gullerya opened #119 "attachShadow action should be observable / recorded by MutationObserver"
AFAIK, MutationObserver set on some element with correct options is effectively able to notify any change to that element's subtree including nodes manipulations and attributes changes.

But in case of creating shadow DOM, there appears new citizen in the DOM tree, which is transparent to the MutationObserver set on any upper element in the DOM.
Therefore we need to observe the shadowRoot itself,

[2017-04-12 06:37] #57 closed

[2017-04-12 06:38] #56 closed

[2017-04-12 06:38] #36 closed

[2017-04-12 06:38] #89 closed

[2017-04-12 06:38] #87 closed

[2017-04-12 06:39] #85 closed

[2017-04-12 06:39] #84 closed

[2017-04-12 06:40] #71 closed

[2017-04-12 06:44] kurli commented on #32
Fixed in https://github.com/w3c/dom/commit/a4a33362c241d08296af8ca7f2090a4cfc75ffae

[2017-04-12 06:44] #32 closed

[2017-04-14 01:45] yongsheng commented on #119
thanks. shadow dom may not be addressed in 4.1. Need to align with other specs like HTML.

[2017-04-14 01:46] #5 closed

[2017-04-14 01:46] #4 closed

[2017-04-14 01:47] #6 closed

[2017-04-14 08:04] #58 closed

[2017-04-14 08:04] #44 closed

[2017-04-14 08:04] yongsheng commented on #44
It's already fixed.

[2017-04-14 08:05] #42 closed

[2017-04-14 08:05] #29 closed

[2017-04-14 08:07] #26 closed

[2017-04-14 08:07] #28 closed

[2017-04-14 08:08] #23 closed

[2017-04-14 08:10] #40 closed

[2017-04-14 11:10] gullerya commented on #119
So, are you saying that this functionality is on the list but deferred and if yes - any rough estimation when it will become relevant?

[2017-04-15 12:35] #112 closed

[2017-04-15 12:36] #77 closed

[2017-04-15 12:39] #41 closed

[2017-04-15 12:45] #48 closed

[2017-04-15 12:46] yongsheng commented on #50
This is not all fixed. leave it to M4. @wucongdonglai hongbo.

[2017-04-15 12:47] #54 closed

[2017-04-15 12:50] #25 closed

[2017-04-15 12:51] #38 closed

[2017-04-16 02:26] yongsheng opened #137 "Mutation Algorithms: invoke insertion/removing steps for descendants"
- [ ] https://github.com/whatwg/dom/commit/5ec535e Fix #34: invoke insertion/removing steps for descendants

[2017-04-16 02:26] #39 closed

[2017-04-16 02:50] yongsheng commented on #74
The problem is, how do developers get it?
seems developers can get via document.defaultView.location.origin in firefox.

[2017-04-16 02:52] yongsheng commented on #45
this is fixed. leave others to #74

[2017-04-16 02:52] #45 closed

[2017-04-16 03:14] linzhiping commented on #117
I tested with Safari 10.1, it say "a b" too, same as FireFox.

[2017-04-16 03:15] yongsheng commented on #117
thanks, @linzhiping . I think we'll add it in DOM4.1. @chaals

[2017-04-16 03:19] yongsheng commented on #69
both Firefox and chrome support it. fix it in M4.

[2017-04-16 03:49] yongsheng commented on #79
#69 depends on it.

[2017-04-16 07:06] yongsheng commented on #69
@chaals @siusin the method has a 'webkit' prefix, though it's implemented in firefox and chrome,  do you think it's ok to add it into DOM 4.1?

[2017-04-18 17:37] ayg commented on #118
@annevk?  I hit this because it complicates testing -- if force-toggle worked the same as add/remove, we could reuse add/remove tests for force-toggle for free.

[2017-04-18 18:09] annevk commented on #118
Wrong repository again? Happy to make this change if you could copy the issue over, especially as you have tests.

[2017-04-19 13:14] zqzhang commented on #79
OK, thanks, @yongsheng

[2017-04-22 07:22] linzhiping commented on #37
This issue tries to improve the steps of "to create an element", both custom element related.
Custom element won't be introduced until custom element is supported.

[2017-04-22 10:00] hmin commented on #60
This change is already done.  Please close it. Thanks.

[2017-04-22 10:10] hmin commented on #49
I will take over this issue.

[2017-04-22 15:58] hmin commented on #49
After some investigations those contents for 'create an element', all of them are introduced for creating an 'custom element'.

Regarding to the implementation status for custom element creation,  there is no enough user agents supporting custom element. The implementation status can be found at http://html5test.com/compare/feature/components.custom.html

So I propose as 'Later' fix in future upda

[2017-04-25 02:58] siusin commented on #69
Should be OK if there are 2+ implementations.

[2017-04-25 13:43] zqzhang commented on #74
@yongsheng actually, your fix at https://github.com/w3c/dom/commit/fffe5f1eabde1c32734ff08eced3cf076b9a83aa for #45 has been fixed this issue too.

The only difference is that https://github.com/whatwg/dom/commit/e4b7778 uses `for=Document` to define document's origin slot in DOM, and your fix uses `<a href="#concept-document-origin">`.

So let's close this issue directly if you agree.

[2017-05-09 08:19] #60 closed

[2017-05-09 08:21] yongsheng commented on #119
Need to check with other specs, no detailed plan yet.

[2017-05-09 08:22] yongsheng commented on #118
seems a bug. will test it in different UAs.

[2017-05-09 08:27] chaals commented on #119
To elaborate a bit, the plan is to get DOM 4.1 to Candidate Recommendation in the next couple of months or so, and Shadow DOM does not *appear* to have sufficient implementation to pass CR yet.

On the other hand it seems that it should make it into the branch more or less when the CR is ready.

As @yongsheng noted, this is in line with the HTML 5.2 Recommendation not incorporating Custom Elements

[2017-05-09 11:14] yongsheng commented on #18
It'll be supported.

[2017-05-10 02:55] yongsheng commented on #12
This is fixed by #56.

[2017-05-10 02:55] #12 closed

[2017-05-10 02:57] yongsheng commented on #13
Not finalized yet. will check this with other specs, like HTML.

[2017-05-10 02:58] #16 closed

[2017-05-10 02:59] yongsheng commented on #37
merge it into #49.

[2017-05-10 02:59] #37 closed

[2017-05-10 03:01] yongsheng commented on #50
- [ ] https://github.com/whatwg/dom/commit/a9d2a37 SVGEvent is only Gecko, Blink also has SVGEvents

[2017-05-10 03:02] yongsheng commented on #53
This is included in #50 . so close it.

[2017-05-10 03:02] #53 closed

[2017-05-10 03:50] yongsheng commented on #19
- [ ] https://github.com/whatwg/dom/commit/e728c11 Editorial: provide a shorthand for other specifications to create events  …

[2017-05-10 05:22] yongsheng commented on #95
for the second, I don't think we need to fix it.

[2017-05-10 05:29] yongsheng commented on #69
merge it to #79

[2017-05-10 05:29] #69 closed

[2017-05-10 06:01] #82 closed

[2017-05-10 09:01] chaals commented on #19
I think it would be good to deal with the synthetic click cleanups, here and in HTML…

[2017-05-10 09:40] yongsheng commented on #52
editorial for childnode will be addressed by other issues.

[2017-05-10 09:42] yongsheng commented on #74
agree.

[2017-05-10 09:42] #74 closed

[2017-05-10 11:46] yongsheng commented on #73
working on it.

[2017-05-11 02:20] chaals commented on #13
Maybe I can elaborate. The idea with the DOM spec, like the HTML spec, is to put stuff in that will get through CR. We haven't tried to add things that we expect in the future, and last time I talked directly to @yongsheng and others working on the spec, we were not sure that Shadow DOM would have more than Chromium implementation within the timeline for this version, and there was a W3C Shadow DO

[2017-05-11 02:28] yongsheng commented on #11
1, add reference for 'template' element;
2, remove shadowroot since 4.1 doesn't involve it.

[2017-05-11 07:15] yongsheng commented on #61
this is invalid since our base has no DOMError definition. we reference the DOMException defined in WebIDL.

[2017-05-11 07:15] #61 closed

[2017-05-11 07:36] yongsheng commented on #65
link should be https://github.com/whatwg/dom/commit/30ab74.
close it and fix it together with #64

[2017-05-11 07:36] #65 closed

[2017-05-11 12:27] yongsheng commented on #70
These 2 issues were fixed by the patch when for #28,.

[2017-05-11 12:27] #70 closed

[2017-05-11 12:27] yongsheng opened #139 "Element: Use a single concept for attribute changes"
- [ ] https://github.com/whatwg/dom/commit/4b291d1 Use a single concept for attribute changes

[2017-05-11 13:02] yongsheng commented on #20
part of this commit about DOMTokenList should be addressed as well: https://github.com/whatwg/dom/commit/4b291d1

[2017-05-15 15:06] andyearnshaw opened #140 "Make EventTarget constructible and its methods generic"
EventTarget, EventEmitter, etc are such a common pattern on the web, it seems like we should just be able to use the native implementation rather than rolling our own or borrowing from somewhere else.

Things that feel like they should work:

[code]

I'm certain this discussion came up a long time ago, but I cannot find the old thread for it so I'm unsure of the outcome.  I remember some of the ar

[2017-05-15 15:44] andyearnshaw commented on #140
Damn, I'm really bad at searching today.

https://github.com/whatwg/dom/issues/441

[2017-05-15 15:44] #140 closed

[2017-05-17 09:38] #139 closed

[2017-05-17 09:38] #137 closed

[2017-05-17 09:38] #116 closed

[2017-05-17 09:38] #96 closed

[2017-05-17 09:38] #95 closed

[2017-05-17 09:39] #81 closed

[2017-05-17 09:39] #79 closed

[2017-05-17 09:39] #66 closed

[2017-05-17 09:39] #73 closed

[2017-05-17 09:40] #67 closed

[2017-05-17 09:40] #64 closed

[2017-05-17 09:40] #11 closed

[2017-05-17 09:41] #18 closed

[2017-05-17 09:41] #17 closed

[2017-05-17 09:43] yongsheng commented on #19
together with #17.

[2017-05-17 09:43] #21 closed

[2017-05-17 09:43] #52 closed

[2017-05-17 09:43] #118 closed

[2017-05-17 09:44] #59 closed

[2017-05-17 09:44] #51 closed

[2017-05-17 09:45] #20 closed

[2017-05-17 09:46] yongsheng commented on #50
Not fully include all of these events. be free to raise your concerns here.

[2017-05-17 19:22] RobDolinMS commented on #10
@zqzhang @yongsheng Would you please explain why this was closed?

Is this now fixed thanks to #17 or something else?

[2017-05-19 05:53] zqzhang commented on #117
This shall be fixed.

[2017-05-19 05:53] #117 closed

[2017-05-19 07:47] #76 closed

[2017-05-19 07:47] yongsheng commented on #63
Fixed in #76

[2017-05-19 07:47] #63 closed

[2017-05-19 07:47] #90 closed

[2017-05-19 07:49] yongsheng commented on #19
@chaals what do you mean about 'synthetic click cleanup'? what's for HTML?

[2017-05-19 07:53] yongsheng commented on #15
Several of fixes have been in DOM4.1. we need to review all of them one by one.

[2017-05-20 06:10] yongsheng commented on #10
I believe it's been in 4.1 now.

[2017-05-21 05:42] yongsheng opened #144 "Editorial: fix several format errors"

[2017-05-22 11:25] #144 closed

[2017-05-24 10:41] yongsheng commented on #86
some of them are not included in W3C. So fix the remainings.

[2017-05-24 10:41] #86 closed

[2017-06-13 21:42] LJWatson opened #148 "Time at TPAC?"
Would you like time at [TPAC](https://www.w3.org/2017/11/TPAC/) to update the WG on progress and/or bring issues up for discussion?

Please let me know by Friday 16th June. If yes, please also let me know how much time you think you'll need.

[2017-06-21 00:54] yongsheng commented on #148
no, thanks.

[2017-06-22 16:33] LJWatson commented on #148
Thanks yongsheng.

[2017-06-22 16:33] #148 closed

[2017-06-27 15:00] dontcallmedom opened #149 "Invalid iterable declarations"
The WebIDL fragments in https://w3c.github.io/dom/ use invalid declarations for `iterable` - [per WebIDL](https://heycam.github.io/webidl/#idl-iterable), they need to specify at least the value type

[2017-06-30 02:14] yongsheng commented on #149
you're right. thanks for pointing out this.

[2017-07-04 11:39] yongsheng commented on #149
@dontcallmedom the link is outdated. please see https://www.w3.org/TR/2017/WD-dom41-20170609/ .

[2017-07-04 12:24] dontcallmedom commented on #149
@yongsheng are you saying the [editors draft](https://w3c.github.io/dom/) is no longer maintained? that seems weird, but in that case, it probably shouldn't be linked from the WD.

[2017-07-05 00:44] yongsheng commented on #149
AFAIK, @siusin put the lastest version in w3.org. any comments, suisin?

[2017-07-05 09:26] siusin commented on #149
The editor's drfat has been updated. Sorry about the hassle.

[2017-07-05 12:11] chaals opened #150 "Merge Shadow DOM into DOM 4.1?"
Update Aug 29: This is a formal call for consensus to merge Shadow DOM into the DOM 4.1 spec.

Silence will be assumed to indicate acceptance of the outcome, but positive responses are preferred and should be provided before 17 September.

To support the proposal please add a thumbs up, to disagree please provide an explanation of why.

[2017-07-05 12:12] chaals commented on #94
I believe there is a fair bit of implementation, so we probably should include it. Especially if we are going to push the timeline for Shadow DOM - see #150 ...

[2017-07-08 10:00] yongsheng commented on #150
thanks, chaals. please raise  your concerns if any problem.

[2017-07-17 11:39] yongsheng commented on #150
If no objection,  it'll be into 4.1 .

[2017-07-18 12:08] zqzhang commented on #149
So this issue shall be addressed. Close it.

If not, please reopen it.

[2017-07-18 12:08] #149 closed

[2017-07-28 11:51] zqzhang opened #151 "ShadowDom: add Node.prototype.getRootNode()"
- [ ]  https://github.com/whatwg/dom/commit/0316b62 Add Node.prototype.rootNode
 - [ ]  https://github.com/whatwg/dom/commit/b8d9f4e4a319d3050df0e9242a8d3d2733ba67fa Editorial: getRootNode() is a method

[2017-07-28 12:47] zqzhang opened #152 "Event: Make Event's timeStamp use DOMHighResTimeStamp"
- [ ] https://github.com/whatwg/dom/commit/912d58746bc4c67c2fd210124639f7c34991fce5 Make Event's timeStamp use DOMHighResTimeStamp

[2017-07-28 12:59] zqzhang opened #153 "EventTarget: Allow constructing and subclassing"
- [ ] https://github.com/whatwg/dom/commit/c4c1c8b47340a1e5ecc1a07670927b831f240586 Allow constructing and subclassing EventTarget

[2017-08-29 11:12] siusin opened #154 "please use DOMHighResTimeStamp for timeStamp of the Event interface"
`readonly attribute DOMTimeStamp timeStamp` in the [event](https://www.w3.org/TR/dom41/#events-interface-event) interface can be updated to `DOMHighResTimeStamp`.

/cc @tidoust

[2017-08-31 05:53] yongsheng commented on #154
will fix it.

[2017-08-31 14:26] siusin commented on #154
Great! Thanks.

[2017-09-20 02:32] awwright commented on #150
As a member of the general public, I'd just note I prefer to see modular specifications that build on each other, where that's logical. (However, the documents should serve a specific purpose. A "Shadow DOM" specification is appropriate, a "Level n" document that requires comprehending n-1 levels of documents below it is not.)

DOM is used more than just Web browsers, however a combined document s

[2017-09-29 02:51] yongsheng commented on #150
@chaals has a different opinion on this.

[2017-09-29 07:03] chaals commented on #150
For closure (and my apologies for the delayed response): Given support here and elsewhere (including from the effectively former editor of Shadow DOM) we will go ahead with the merge.

[2017-09-29 07:10] chaals commented on #150
@awwright we have an open [Call for Consensus](https://github.com/w3c/webcomponents/issues/670) on stopping development of the standalone Shadow DOM spec, and merging its content into the relevant specifications - primarily DOM.

Note that DOM 4.1 is a standalone specification, in the sense that it doesn't rely on knowing its predecessors. The DOM family of specs is somewhat modularised - there ar

[2017-09-29 07:10] #150 closed

[2017-10-11 13:30] zqzhang commented on #153
http://w3c-test.org/dom/events/EventTarget-constructible.any.html

These 2 tests get all failed on Firefox Nightly 56.0a1 (2017-07-31)  and Chrome  61.0.3163.100
Will try latest versions soon.

[2017-10-13 14:43] zqzhang commented on #153
Firefox Nightly 58.0a1 (2017-10-13) (64-bit) still gets all failed.

[2017-10-13 15:16] zqzhang opened #155 "Add [Exposed] to MutationObserver and DOMTokenList"
As talked in https://github.com/heycam/webidl/issues/365, all `interface X { ... }` require `[Exposed]`  to get rid of `[PrimaryGlobal]`.

- [ ] https://github.com/whatwg/dom/commit/c9544325095195c3afdf6284c29b26e84ce572aa Add [Exposed=Window] to MutationObserver
- [ ] https://github.com/whatwg/dom/commit/da7b3ec5d9a4cbd857f0dc6c5ef164331ae156be Add [Exposed] to DOMTokenList

[2017-10-14 10:09] wolfbeast opened #156 "Add DOM childnode methods: prepend(), append(), before(), after() and replaceWith()"
See: https://dom.spec.whatwg.org/#interface-childnode

This is used in the wild (e.g. lazy loading uses replaceWith regularly). it should be in the DOM spec.

[2017-10-15 00:42] zqzhang commented on #156
This shall have been fixed. See https://w3c.github.io/dom/#interface-childnode

[2017-10-15 00:48] zqzhang commented on #156
By the way, `prepend()` and `append()` are specified in https://w3c.github.io/dom/#interface-parentnode

If the current being spec is OK, please close this issue, thanks.

[2017-10-15 00:49] zqzhang commented on #152
This shall be addressed in next release.

[2017-10-15 01:13] zqzhang commented on #155
This will be addressed in next release.

[2017-10-15 01:25] zqzhang opened #157 "Clear event's target and relatedTarget when dispatch ends at a shadow root"
- [ ] https://github.com/whatwg/dom/commit/9ada239e14fe7964577276ef9d8972069e665247 Clear event's target and relatedTarget when dispatch ends at a shadow root

[2017-10-15 01:29] zqzhang commented on #157
http://w3c-test.org/shadow-dom/event-post-dispatch.html

For this test file, Chrome 61.0.3163.100 returns 5 failed cases, while Firefox Nightly 58.0a1 (2017-10-13) failed to run it.

[2017-10-15 01:57] zqzhang commented on #157
Anyway, this will be addressed in next release.

[2017-10-15 02:09] zqzhang opened #158 "NodeIterator's nextNode() and previousNode() shall return the result of traversing"
- [ ] https://github.com/whatwg/dom/commit/77fe08cd3780e14a0540cf0a2365f2f3d5f90b3c Return the result of traversing

[2017-10-15 02:29] zqzhang commented on #158
This will be addressed in next release.

[2017-10-15 02:31] zqzhang opened #159 "Reinstate active flag for iterators"
- [ ] https://github.com/whatwg/dom/commit/6a796cc7676263c30550abfd7cc248300d006b2d Reinstate active flag for iterators
- [ ] https://github.com/whatwg/dom/commit/48c4b4aa0d1b4044b7be62d3a75aaab94058161f Also unset the active flag when an exception is thrown

[2017-10-15 02:56] zqzhang opened #160 "DOMTokenList: integrate changes against it"
- [ ] https://github.com/whatwg/dom/commit/03657b3556018de1675c58f7fbc5e51ac2602dfb DOMTokernList's toggle()/replace() cannot always update the attribute
- [ ] https://github.com/whatwg/dom/commit/aaf90dcbedf22f856ff8dcf00952926127fc5d99 DOMTokenList shouldn't add empty attributes

[2017-10-16 00:10] wolfbeast commented on #156
Any time frame when this will become standards track?

[2017-10-16 00:10] #156 closed

[2017-10-16 02:35] wucongdonglai opened #161 "add custom element support to dom"
- [ ] https://github.com/whatwg/dom/commit/7f63535 Add support for custom elements
- [ ] https://github.com/whatwg/dom/commit/b8d2854 Shadow: define attachShadow() for custom elements
- [ ] https://github.com/whatwg/dom/commit/3536dd9 Editorial: update custom element cross-spec references
- [ ] https://github.com/whatwg/dom/commit/d077da1 Don't set custom element state redundantly
- [ ] https://gi

[2017-10-16 08:59] Schepp opened #162 "Browsers should offer an asychronous Layout API"
Hey everyone,

Right now I'm working quite a lot with the Intersection Observer APi and I like it *a lot*. I especially like the idea of events being pushed to me in an efficient way instead of me having to poll them.

Sometimes though I wish I could do a call on an element to ask for its current intersection state, e.g. when I have a slider element and I want to know which elements are currently

[2017-10-17 06:30] nuxodin commented on #162
Would something like this make sense?
[code]

[2017-10-17 06:33] Schepp commented on #162
@nuxodin That would be fine to me as well, although we would still need a solution for getting intersection states.

[2017-10-17 06:40] rikschennink commented on #162
In my tests this works, as offsetHeight has been calculated for the frame. Requesting it does not trigger a reflow (as long as you don't invalidate the DOM).
[code]

[2017-10-17 06:49] Schepp commented on #162
Thank you @rikschennink! That basically what [FastDOM](https://github.com/wilsonpage/fastdom) does. I still find it a bit too much code, TBH, like with the above `requestLayoutFrame()` idea, but I could live with it. What still remains unsolved is where to get intersections from.

[2017-10-17 07:11] rikschennink commented on #162
@Schepp I should've read the post a little bit better, I misunderstood.

Would be nice to have a generic "get everything about the elements" layout method, it seems the information is readily available at the start of the frame.

`elem.getLayoutState(options)` does not really sound like an async action though, maybe `elem.requestLayoutState(options)`?

Wouldn't mind a sync version as well. If call

[2017-10-17 08:18] Schepp commented on #162
@rikschennink `elem.requestLayoutState(options)` sounds like music in my ears! :)

[2017-10-18 16:09] chaals commented on #162
I suggest that you propose this in the repository for IntersectionObserver, and / or the [Web Platform Incubation Community Group](https://discourse.wicg.io), to get some traction among implementors and more support from users.

Before a feature request like this gets folded into the DOM recommendation we need to demonstrate interopability and uptake, which is what WICG is designed to do. (A few o

[2017-10-25 07:50] #13 closed

[2017-11-03 19:42] plehegar opened #165 "legacyOutputDidListeners and dispatch event"
dispatch event receives a legacyOutputDidListeners but doesn't do anything with it. It should give the flag to "To invoke an object with event and optional legacyOutputDidListenersThrowFlag, ".
 https://w3c.github.io/dom/#events-dispatching-events

[2017-11-13 12:18] zqzhang commented on #159
@wucongdonglai, please take a look at this issue, thanks.

[2017-11-15 09:50] skjindal93 opened #166 "Mutation Observer not creating mutations for nodes added through innerHTML"
Adding internal nodes through innerHTML does not cause a mutation record on the internal node. For example: Let's suppose if we have a div element and have a Mutation Observer running observing the document

    div.innerHTML = "<div><img></img></div>";

This would lead to just one mutation having "div" as the node and "img" as childNodes. But, there is no separate mutation for "img" node added.

[2017-11-21 02:02] zqzhang commented on #10
This shall be fixed by https://github.com/w3c/dom/commit/c18f6aa3c5c6ff9fbbf02c1d222bcdf57e5f6b6c

[2017-11-21 02:02] #10 closed

[2017-11-21 02:04] yongsheng opened #167 "Define Event.relatedTarget?"
some events like UIEvent define a relatedTarget attribute.  They should be addressed.

[2017-11-21 02:05] marcoscaceres commented on #10
Just fyi, the manifest spec is tracking WHATWG DOM instead. It might be good to migrate all specs to point to WHATWG DOM too, as to avoid further confusion.

[2017-11-21 02:34] yongsheng commented on #166
I think the behavior now is for the 'root' node of the fragment to be inserted.  Not sure it'll hurt perf if subtree is included.

[2017-12-04 14:27] #94 closed

[2017-12-04 14:27] #152 closed

[2017-12-04 14:27] #154 closed

[2017-12-04 14:27] #155 closed

[2017-12-04 14:27] #158 closed

[2017-12-04 14:27] #161 closed

[2017-12-04 14:27] #157 closed

[2017-12-04 14:27] #160 closed

[2017-12-05 01:01] yongsheng commented on #165
you're right. let me fix it.

[2017-12-06 02:16] frivoal commented on #3
@plehegar @marcoscaceres The WebPlatform WG charter makes it clear that WHATWG DOM is not considered upstream from W3C DOM, and instead the WG intends to maintain independent control over it. There is an intent to "minimize differences [...] that affect interoperability.", but we should not expect the two to ever be in full sync, since that's not a goal of the WG.

Based I do not know how future w

[2017-12-06 02:41] marcoscaceres commented on #3
I'm sorry, but that's LOL (not laughing at you, just the insanity of the situation).

But then reality has to hit hard: it's a fact that no one is implementing the W3C clone. This will bear out demonstratively in the testing (and as has happened with all the forked specs! The've all died). Because of this, the Working Group cannot progress the spec pass CR without undermining its own process, doin

[2017-12-12 01:33] yongsheng opened #170 "Introduce StaticRange into DOM 4.2"
Per the request from https://github.com/w3c/staticrange/issues/12
There are many user agents which already support this feature, like chrome & safari.

[2017-12-18 03:08] xfq commented on #8
@yongsheng Can this issue be closed then?

[2017-12-18 03:13] xfq commented on #14
https://github.com/w3c/dom/commit/fcd248e63a2b399b21ca00fffaa94206cd74a059 added support for custom elements. Can we close this issue and track specific issues related to custom elements by filing new issues, @yongsheng?

[2017-12-18 03:17] xfq commented on #15
Can this issue be closed given we're heading toward DOM 4.2, @yongsheng?

[2017-12-18 03:19] xfq commented on #19
#17 has been closed, what about this one? Is it fixed now?

[2017-12-18 03:22] xfq commented on #22
Custom elements support are added in https://github.com/w3c/dom/commit/fcd248e63a2b399b21ca00fffaa94206cd74a059

Will [CEReactions] be integrated in DOM 4.1? Or defer it to DOM 4.2?

[2017-12-18 03:39] xfq commented on #165
@yongsheng Can you fix this issue in DOM 4.1?

[2017-12-18 06:55] yongsheng commented on #14
yes, i think so since it's been in the 4.2 now.

[2017-12-18 06:55] #14 closed

[2017-12-18 06:56] yongsheng commented on #15
yes, i'll close this and create new ones if we have issues.

[2017-12-18 06:56] #15 closed

[2017-12-18 07:01] #151 closed

[2017-12-18 07:31] zqzhang commented on #19
This shall be fixed. Close it.

[2017-12-18 07:31] #19 closed

[2017-12-18 10:10] yongsheng commented on #165
zhiqiang takes over it.

[2017-12-29 11:20] #165 closed

[2018-01-08 11:14] yongsheng commented on #49
It's been fixed.

[2018-01-08 11:14] #49 closed

[2018-01-10 02:43] yongsheng commented on #22
wucongdonglai will fix it soon.

[2018-01-10 06:39] xfq opened #172 "Wide review tracker for DOM 4.1"
As a requirement for publishing a specification as a [Candidate Recommendation], the group:

To satisfy this requirement, we use this tracker issue as an evidence that [wide review] from [horizontal groups] has been received.

Ref: [RfC Template]

### Horizontal groups

  * Wide review announcement
    * [x] Publish a pre-CR Working Draft used as a basis for wide review
    * [ ] Review request:

[2018-01-10 07:43] xfq commented on #172
@chaals, below I drafted a proposal for the wide review announcement to be sent to public-review-announce@w3.org using the [RfC Template], please take a look:

[code]

Would you like to send the review requests, or do you want me to, @chaals?

[RfC Template]: https://www.w3.org/wiki/DocumentReview#Request_for_Comments_.28RfC.29_Template

[2018-01-16 08:46] #22 closed

[2018-01-16 08:52] yongsheng commented on #119
@gullerya shadow DOM is now in draft. any comments is welcome.

[2018-01-17 10:05] gullerya commented on #119
If just took a brief look onto the draft and couldn't find anything related to this specific issue (there are mentions of tracking mutations within the ShadowDom as we as slotting changes, but not the attachment of the ShadowDom itself.
Am I missing something or are you aware of any plans to define it in near future?

[2018-02-01 14:42] xfq commented on #172
I'll send them.

[2018-02-03 08:53] xfq commented on #172
All wide review requests have now been sent.

[2018-02-05 18:24] othermaciej opened #174 "Add attribution of WHATWG DOM, as required by the CC-BY license"
WHATWG DOM now has the following copyright notice:

Unlike the previous license, this license explicitly requires attribution. Although previous copying can be interpreted as under the previous license, newer copying must follow the CC-BY 4.0 license and therefore requires attribution.

The following commits appears to copy text from WHATWG DOM without attribution:
https://github.com/w3c/dom/commi

[2018-02-07 11:50] #174 closed

[2018-03-12 13:50] xfq commented on #172
The wide review period has ended.

[2018-03-18 11:11] chaals commented on #3
Aside from the meta-issue of rechartering Web Platform, this issue is not particularly actionable, beyond "do the work well".

Closing.

[2018-03-18 11:11] #3 closed

[2018-03-18 11:14] chaals opened #175 "CfC: Move DOM 4.1 to Candidate Recommendation"
This is a call for consensus on the proposal

Move DOM 4.1 to Candidate Recommendation.

Please reply before the end of Sunday 25 March 2018 by either providing a thumbs-up to this issue, or a comment explaining the reason for objecting. Silence will be considered assent to the outcome.

[2018-03-22 20:31] michaelchampion commented on #175
The DOM team at Microsoft strongly objects to W3C publishing another DOM Recommendation at this point. This isn't the time to perpetuate similar but different DOM standards, and create more pain for those struggling to figure out which specs to normatively reference, test against, document, or depend on in a website. It's time to get behind a common standard and work to improve it. Now that WHATWG

[2018-03-23 00:01] jeffjaffe commented on #175
I agree with Mike that it is time to get behind a common standard.  I have proposed to the WHATWG a partnership whereby they continue to publish their Living Standard and W3C publishes a stable Recommendation by working together.  We have not yet completed the negotiations, but we are on the agenda of the AC meeting to provide an update on progress.

As soon as we converge on a common point-of-vie

[2018-03-23 00:34] cwilso commented on #175
Google would like to delay this action.  Thus far, forking was accepted as IPR benefits outweighed confusion.  At this point, we'd like to delay this CR in order to give the W3C and WHATWG a chance to work out the right path moving forward.

[2018-03-23 07:36] frivoal commented on #175
I agree with @michaelchampion (and will not attempt to rephrase & repeat his argument, as that does not seem productive).

[2018-03-23 16:25] hober commented on #175
We support delaying this CfC until the negotiations @jeffjaffe mentioned are completed.

[2018-03-23 21:09] dbaron commented on #175
We agree with @michaelchampion .  Having multiple competing DOM standards forked from the same source leads to confusion about which one to use, where to report problems, and where to contribute, and leads to wasted effort maintaining two versions that could have moved the web further forward if it were used on a single effort.  When the competing standards disagree, it leads to real problems for

[2018-03-26 01:19] DavidMacDonald commented on #175
I support this CFC

[2018-03-26 09:22] zqzhang commented on #175
I support this CFC too.

[2018-03-26 09:31] hmin commented on #175
I support this CFC

[2018-03-28 21:21] LJWatson commented on #175
Without my chair's hat on...

We know that Apple, Google, Microsoft, and Mozilla, consider the WHATWG to be the canonical version. We don't yet know whether the other 450+ W3C member organisations that represent the wider web platform agree with this position or not though.

Until such time as that is known, or an agreement is reached between the two organisations, it seems premature for either or

[2018-03-29 01:00] frivoal commented on #175
Discussions on the W3C DOM Editor Draft can continue; it is chartered and the charter is valid. But I do believe that this is a bad time to publish, as this means requesting consensus on a topic known to be divisive, likely triggering objections, and then having to spend time and energy resolving these objections, instead of spending that time and energy working on the ongoing W3C/WHATWG negotiati

[2018-03-29 01:18] jeffjaffe commented on #175
@LJWatson Well said.

[2018-03-29 03:44] annevk commented on #175
Sigh. The W3C considers the WHATWG version canonical as well, otherwise you would have done original work rather than copy-and-pasting commits. Let's not pretend this is something that it's not.

[2018-03-29 19:06] michaelchampion commented on #175
Without any Microsoft, W3C AB or WHATWG SG hat on: As @frivoal notes, it's problematic to stop  the upstream maintenance work on DOM that all rely on.  I don't see my comment as about stopping work, I see it as about converging efforts.  Formal agreement between the organizations would be easier if there were more active collaboration between the people in the sub-communities.

Some W3C working gr

[2018-03-29 22:24] LJWatson commented on #175
Thanks @frivoal and @michaelchampion for your thoughtful replies.

[2018-04-02 07:14] chaals commented on #175
@michaelchampion

Can you suggest a way forward that minimises problems for people who rely on the W3C specification? The DOM 4 Recommendation is 2 1/2 years old, and there are significant differences in the current update.

If there were only one DOM specification that everyone worked on together at W3C, as a chair I would be looking to begin the publication process for DOM 4.2 already.

[2018-04-02 07:30] chaals commented on #175
@michaelchampion

At a personal level, I totally agree that political arguments about whose spec is "canonical" are a waste of time, with the opportunity cost of distracting people from productive work that could benefit everyone.

I also don't think there is such a thing as "the canonical spec". If there were, a clear-eyed analysis of data might well conclude that in english W3Schools fills that

[2018-04-02 15:40] michaelchampion commented on #175
It would help to hear from those people who rely on the W3C DOM Recommendations, to learn who they are and what problems they have with the WHATWG DOM Living Standard or the (scheduled to be semi-annual)  DOM Living Standard Review Draft https://whatwg.org/workstream-policy#review-draft.  Once we have a shared understanding of who the audience is and what their use cases are, we are more likely to

[2018-04-02 15:46] jeffjaffe commented on #175
@michaelchampion Your response is circular.

W3C and WHATWG are trying to get to a shared understanding of how to rationalize two specs.

While we are in the middle of doing that, you have proposed not progressing on DOM 4.1.  Leonie asked how to move forward (presumably in the current timeframe - before WHATWG and W3C finish negotiating).  Your response is to get a shared understanding.

That red

[2018-04-02 15:55] jeffjaffe commented on #175
Clarification of my previous post.  I meant Chaals, not Leonie.

[2018-04-02 16:49] michaelchampion commented on #175
@jeffjaffe I understand that you think my argument is "circular" but I am wearing several hats here:

Wearing my Microsoft hat, I asked W3C not to advance DOM 4.1 at this time because the existence of different DOM standards creates pain for our engineers and customers.  Now that we have joined the other browser implementers and refer to the WHATWG DOM living standard, we think the easiest way to

[2018-04-02 17:12] cwilso commented on #175
I think we're speaking at cross purposes; I don't have any issue with the WPWG continuing to work on the spec as they see fit, it's specifically the spec of signposting with a CR that I was asking to be delayed.

[2018-04-02 17:57] jeffjaffe commented on #175
@michaelchampion I was refering to your point:

In the W3C WHATWG negotiations, W3C already supplied the rationale of the people relying on the W3C specification in our "Premises" document.  When we presented our Premises document, WHATWG did not want to discuss it - which I interpreted to mean that the WHATWG was willing to stipulate that this document already captured the needs of the broader co

[2018-04-03 09:23] chaals commented on #175
@cwilso as a chair charged with trying to ensure the Working Group meets the charter it was given by the W3C and its members, publishing an updated spec as CR - and then PR - is an important part of how I understand "as they see fit" to do the work.

As you are aware, delaying a CR automatically delays subsequent stages of the W3C spec life-cycle. It is unclear what benefit of this might have.

Wh

[2018-04-04 07:10] therealglazou commented on #175
Being far too busy these days, I am a bit late to the discussion, sorry for that.

This is severely underestimating the real situation. Nobody using the DOM on a heavy daily basis does differently (with my recent new VP Engineering hat in a software company on, I can testify on that for my employer). It's honestly out of question to rely on the proposed DOM 4.1 to do anything "in production". But

[2018-04-09 13:37] chaals commented on #175
This resolution passes, with objections.

The argument presented creates a weaker objection than "the current DOM 4.0 specification should be updated". No pathway to consensus has been identified, and the Working Group is chartered to produce an update to the DOM specification.

The chairs believe that the outcome which raises the weakest technical objections is to proceed with a request for trans

[2018-04-09 13:37] #175 closed

[2018-04-10 20:06] michaelchampion opened #176 "Microsoft formal objection to DOM 4.1 advancing to CR"
Microsoft Formally Objects to the Web Platform WG Chair's resolution to the CfC on moving DOM 4.1 to Candidate Recommendation https://github.com/w3c/dom/issues/175#issuecomment-379754622 . We urge the Director not to approve a transition request, because taking DOM 4.1 to CR at this time is not justified in terms of the process and success criteria specified in the Web Platform WG charter.

First,

[2018-04-11 05:39] yongsheng commented on #170
will track the progress of staticrange.

[2018-04-11 17:34] othermaciej commented on #175
Formal Objection to DOM transition to Candidate Recommendation

Apple had hoped to a avoid a Formal Objection on this Call for Consensus through informal objection and constructive dialog. However, since the Chairs have now declared a decision on the CfC without fully addressing objections, we feel we have no other alternative.

We are willing to withdraw this Formal Objection if the Web Platform

[2018-04-11 17:39] othermaciej commented on #175
Note also the Formal Objection from Microsoft at https://github.com/w3c/dom/issues/176

[2018-04-11 17:47] othermaciej commented on #176
See also Apple's Formal Objection at https://github.com/w3c/dom/issues/175#issuecomment-380534425

[2018-04-11 17:52] chaals commented on #175
@michaelchampion @othermaciej yes, it is noted.

[2018-04-11 17:55] jeffjaffe commented on #175
@othermaciej

Since Maciej's post references the CEO several times, I would like to comment or clarify.

Maciej's post (point #2) suggests that I interrupted an exchange which was trying to resolve dissent.  I don't think that is the case.

Specifically, @michaelchampion had proposed getting a shared understanding of needs before proceeding.  I merely pointed out that this was circular because it

[2018-04-11 19:25] othermaciej commented on #175
Also note that @michaelchampion is unable to respond in this issue because @chaals has closed it to collaborators. So it's somewhat unfair to continue the dispute with him here.

[2018-04-11 20:08] jeffjaffe commented on #175
@othermaciej @michaelchampion  On the "tone" point specifically, I have re-read my posting and I agree that I could have done a better job on tone.  If @michaelchampion interpreted that as dismissive or insulting I publicly apologize for that.

You also asked about the content of my posting, so let me explain further why I thought that @michaelchampion 's argument was circular.  @chaals was search

[2018-04-11 20:55] othermaciej commented on #175
@jeffjaffe If you want to debate the substance of your disagreement with @michaelchampion further, I suggest you do so in a place where he can reply. He's not able to post in this issue any more, now that @chaals closed it and limited it to collaborators only.

[2018-04-11 21:42] henceproved opened #177 "Google Formal Objection to CR Transition of DOM4.1"
Google raises a Formal Objection to the transition of DOM4.1 to Candidate Recommendation.

We would like to reiterate our statement on the [CfC](https://github.com/w3c/dom/issues/175) that this is particularly bad timing for this transition. W3C has noted before that two specs covering the same subject with normative differences between them is a design flaw. Given that there is an opportunity to

[2018-04-11 21:50] othermaciej commented on #175
Note also the Formal Objection from Google at https://github.com/w3c/dom/issues/177

[2018-04-12 10:09] chaals commented on #175
I have unlocked the conversation, since it continues and to save having to track multiple issues.

Please continue to be respectful and polite in discussion.

[2018-04-12 11:44] therealglazou commented on #175
Disruptive Innovations is also formally objecting to the transition of DOM 4.1 to Candidate Recommendation. The proposed document specifying interfaces that are different from the WHATWG DOM specification, different from what implementors are shipping and are not going to change (since they all follow the WHATWG version anyway), it is a source of confusion that will not qualify as a Standard.

Thi

[2018-04-13 13:05] chaals opened #178 "check event dispatch against implementations"

[2018-04-13 13:06] chaals opened #179 "validate WebIDL content"

[2018-04-13 13:06] chaals opened #180 "check Shadow DOM against implementations"

[2018-04-13 13:07] chaals opened #181 "Check range against implementations"
see also #170

[2018-04-13 13:07] chaals opened #182 "check tree traversal against implementations"

[2018-04-13 13:26] chaals commented on #175
@dbaron thank you for your comments. We will consider carefully yourthe differences between the specification and implementations, and the editorial issues you raise, before we take any further action with regard to transition along the Recommendation track.

[2018-04-13 13:39] chaals commented on #175
@othermaciej than you for your comments. I will leave the procedural issues for the W3C director to assess,. From previous contentious spec advancement decisions I believe the Director has refined the understanding of the role played by various parties to the dispute, and the need to ensure that decisions are made fairly, and will ensure that your request for @jeffjaffe to recuse himself from the

[2018-04-13 13:49] jonathanrobie commented on #175
I am a former DOM editor (Level 1, Level 2) and current DOM user.

Interoperability is the reason we have standards.  Without implementations, you don't have interoperability.

Given that, what are the plans to meet the [requirements for CR](https://www.w3.org/2018/Process-20180201/#candidate-rec)?  What counts as adequate implementation experience?

I'm not informed on all the details, but as a u

[2018-04-13 14:24] w3hy opened #183 "Delete w3c/dom as Obsolete"
The document is irrelevant, and the recent saga has shown that the W3C editors aren't even capable of integrating the hard work the actually-relevant people are doing without mangling it. That's a smell!

Please delete this repo and dissolve your organization.

[2018-04-13 15:54] arybkablm commented on #175
Bloomberg is formally objecting to the transition of DOM 4.1 to Candidate Recommendation. We agree with the points already raised by Apple, Microsoft, Google, Mozilla, and Disruptive Innovations in this thread. We do not believe the W3C DOM 4.1 aligns with our interests and the interests of the Web platform as a whole. We believe the WHATWG DOM should remain the living standard for conforming impl

[2018-04-13 17:07] #183 closed

[2018-04-13 19:16] othermaciej commented on #177
For reference: DOM 4 apparently  didn't have a CR, and thus no CR. exit criteria.

The [DOM 4 PR draft](https://www.w3.org/TR/2015/PR-dom-20151006/) said this:

It seems unlikely DOM 4.1 could meet the equivalent of those criteria as written.

[2018-04-13 19:44] innovimax commented on #175
Innovimax is Formally Objecting
I hope this is all just a big misunderstanding

[2018-04-14 00:41] gsnedders commented on #175
I, as an Invited Expert in the Web Platform WG, am formally objecting to the transition of DOM 4.1 to Candidate Recommendation. I would like to add my support to the points already raised by [Apple](https://github.com/w3c/dom/issues/175#issuecomment-380534425), [Microsoft](https://github.com/w3c/dom/issues/176), [Google](https://github.com/w3c/dom/issues/177), and [Mozilla](https://github.com/w3c/

[2018-04-15 01:12] jeffjaffe commented on #175
@gsnedders I have already acknowledged earlier in this thread that my tone could have been better and I have already apologized for it.  So +1 to your points.

You also raise another important point - what was I doing posting on this thread to begin with? - and I think you deserve an explanation.

As part of the WHATWG W3C discussions, the WHATWG Steering Group informed me about their plans to obj

[2018-04-15 09:39] gsnedders commented on #175
@jeffjaffe I'm aware; I'm just sufficiently concerned about the potential consequences of someone in a position of power acting in such a way in a WG's CfC, and how that might affect people's willingness to respond (especially with dissent) to the CfC.

[2018-04-15 10:59] jeffjaffe commented on #175
@gsnedders Fair point.  Which is why I am trying to make my penitence clear.

[2018-04-16 00:50] frivoal commented on #175
@jeffjaffe I think @gsnedders 's point is not only, or even primarily about tone. Because of your position, by taking sides in a WG's CFC, even in the most courteous manner, you change nature of the vote, from “does anyone disagree with $FOO” to “does anyone disagree with $FOO enough to stand up to authority”. Individuals and cultures vary, and some may be more or less sensitive to this effect tha

[2018-04-16 01:37] jeffjaffe commented on #175
@frivoal Thanks Florian for the additional point.  I agree.  I need to be more careful about this.

[2018-04-16 01:57] gsnedders commented on #175
@jeffjaffe What @frivoal was my point, which is worsened by your tone.

[2018-04-16 02:25] jeffjaffe commented on #175
@frivoal @gsnedders Got it.  I think each of you have articulated nicely what I need to avoid in the future.

[2018-04-16 21:14] henceproved commented on #177
Thanks @chaals for acknowledging the concerns raised. We look forward to having them addressed, and to reviewing the published exit criteria.

[2018-04-20 14:13] yoavweiss commented on #175
Akamai Technologies would like to formally object DOM 4.1 moving to CR for the procedural reasons stated before by [Apple](https://github.com/w3c/dom/issues/175#issuecomment-380534425), [Google](https://github.com/w3c/dom/issues/177), [Mozilla](https://github.com/w3c/dom/issues/175#issuecomment-380771954) and [Microsoft](https://github.com/w3c/dom/issues/176).

[2018-04-25 14:43] chaals commented on #175
A note on participation in discussions, from a co-chair.

The conditions that govern participation in issue discussions are essentially those of GitHub itself, the W3C Code of Conduct, and W3C's IPR policies. (To make that clearer, in the next few days I will link them specifically to this repository).

Like anyone else who is not a formal participant in the Web PLatform Working Group, but who hol

[2018-04-25 15:05] gsnedders commented on #175
@chaals

This runs contrary to [your comment](https://github.com/w3c/dom/issues/175#issuecomment-379754622) above. Does this mean you are [reopening a decision when presented with new information](https://www.w3.org/2018/Process-20180201/#WGChairReopen)? If so, can you unambiguously record that it has been reopened?

[2018-05-23 12:51] gsnedders commented on #175
@chaals Should I take your lack of response here to mean that the decision hasn't been reopened? I note you "must do so upon request from a group participant", per Process.

[2018-07-15 19:50] ninadpchaudhari opened #184 "Ambiguity in Events - Actions vs Occurances"
Not sure if this is the right place to mention this, but
The section 3.10 the author states: "An event is an indication of (signifies) an occurrence, not an action". Later the section explains the "why" the events exist and "what" they should be used for.

1) The statement "An event signifies an occurrence, not an action" gives an impression that the specification does not consider event objects d

[2019-11-08 15:28] HubKing opened #185 "Shouldn't it be "an" HTMLCollection?"
https://www.w3.org/TR/2017/WD-dom41-20170316/

"Returns a HTMLCollection of the elements in the object on which the method was invoked"

[2019-11-11 02:38] marcoscaceres commented on #185
The canonical/authoritative source for this is https://dom.spec.whatwg.org - so, it's whatever that spec says.

[2019-11-11 02:38] #185 closed

[2019-11-11 02:41] marcoscaceres opened #186 "Shutting down this repo"
To avoid questions like #185, we should really remove gh-pages and archive this repo. This is repo is now obsolete.

Also, we should make sure the W3C DOM editor's draft goes to the WHATWG version.

[2019-11-11 05:26] sideshowbarker commented on #186
Done. If there’s anything else that still needs to be resolved here, I guess please raise an issue at https://github.com/w3c/w3c.github.io/issues for it